<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="index.css">
    <title>MVC</title>
</head>

<body>
    <h1>Nhập thông tin sản phẩm</h1>
    <div class="content">
    <form id="create" method="POST" action="/" enctype="multipart/form-data">
        <input type="number" name="ma_sp" placeholder="Nhap ma san pham"/>
        <input type="text" name="ten_sp" placeholder="Nhap ten san pham"/>
        <input type="number" name="so_luong" placeholder="Nhap so luong san pham"/>
        <input type="submit" value="Submit"/>
    </form>
    <form id="delete" method="POST" action ="/delete" enctype="multipart/form-data">
         <input type="submit" value="Xoa"/>
    </div>
    <h1>Danh sách các sản phẩm</h1>
       
        
    <table border="1">
        <tr>
            <th>Ma SP</th>
            <th>Ten SP</th>
            <th>So Luong</th>
            <th>Hinh anh</th>
            <th>Chon</th>
        </tr>
        <% for (let i = 0; i < sanPhams.length; i++){ %>
        <tr>
            <td><%=sanPhams[i].ma_sp%></td>
            <td><%=sanPhams[i].ten_sp%></td>
            <td><%=sanPhams[i].so_luong%></td>
            <td><input type="checkbox" name="<%=sanPhams[i].ma_sp%>"/></td>
        </tr>
        <% } %>
    </table>

</div>
</body>

</html>